PORT=4500

MONGO_URI=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret

NIBSS_BASE_URL=your_nibss_base_url

NIBSS_API_KEY=your_nibss_api_key

NIBSS_API_SECRET=your_nibss_api_secret

NIBSS_BANK_CODE=your_bank_code

NIBSS_BANK_NAME="KAA Bank"

INITIAL_ACCOUNT_BALANCE=15000